# Default settings for all unless overridden
Host *
  UseKeychain yes
  AddKeysToAgent yes
  IdentitiesOnly yes

# Server 1
Host app1name
  HostName ipv4address
  User username
  IdentityFile /Users/Ben/.ssh/id_ed25519_example

# Server 2
Host app2name
  HostName ipv4address
  User username
  IdentityFile /Users/Ben/.ssh/id_ed25519_example
