# MacOS system files
.DS_Store
.Trashes
Icon? # The Icon\r file used by Finder (trailing CR)

# Editor and tools
.vscode/
.bundle/
.nvm/
.npm/
.cache/

# Your SSH config
config

# Your real gitconfig
.gitconfig

# Work differences I don't want to commit
setup.sh
.zshrc